body
{
	background-image: url("images/register1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.register
{
	background-color: #f25454ed;
	border-radius: 10px 140px 30px 140px;

}
.register h1
{
	text-align: center;
	font-size: 30px;
	color: white;
}
.register p 
{
	text-align: center;
	font-size: 13px;
	color: white;
	padding-bottom: 10px;
	font-family: opensans-bold , sans-serif;
}
.body
{
	width: 350px;
    padding: 10px;
    margin: auto;
    border: 2px solid red;
	margin-bottom: 10px;
}
.body h2
{
	color: #b90000;
	text-align: center;
}
.inpuT input
{
	   padding-top: 8px;
	   padding-bottom: 8px;
	   margin-bottom: 10px;
	   width: 99%;
	   border: 1px solid red;
}
.body button
{
	color: #b90000;
	text-align: center;
	padding-top: 8px;
	   padding-bottom: 8px;
	   margin-bottom: 10px;
	   width: 99%;
	   border: 1px solid red;
}